// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.

// Grayscale
$white: white;
$gray-1: #f0f0f0;
$gray-2: #c8c8c8;
$gray-3: #828282;
$gray-4: #555;
$gray-5: #222;
$black: black;

// Status
// $yellow-light: #f9fb93;
// $red-light: #fbe3e4;
// $green-light: #cfefc2;

// Project
$green: #009ca6;
$green-mid: #8dc8c7;
$green-light: #ebf5f0;
$green-dark: #0e4e65;
$red: #009ca6;
$red-mid: #f5a9ab;
$red-light: #fde8df;
$yellow: #ffe500;
$yellow-mid: #ffee8d;
$yellow-light: #fff7dd;
$purple: #482d55;
