<div class="logo-wrapper">
	<div class="logo-swatch">
		{% include "@atoms/logo/_logo.twig" %}
	</div>
	<div class="logo-swatch logo-swatch--inverted">
		{% include "@atoms/logo/_logo.twig" %}
	</div>
</div>
